#homepage-div {
  text-align: center;
}

#homepage-div .title {
  -webkit-box-shadow: 0 8px 6px -4px black;
  -moz-box-shadow: 0 8px 6px -4px black;
  box-shadow: 0 8px 6px -4px black;
  background-color: #001D6E;
}

#homepage-div h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 4.5rem;
}

#homepage-div .search {
  font-size: 1.2rem;
}
