#crypto-div .row {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

#crypto-div .img-div {
  position: relative;
}

#crypto-div img {
  max-width: 40%;
  top: 30%;
  transform: translate(0, -30%);
}

#crypto-div hr {
  width: 60%;
  margin: auto;
  height: 2px;
  border-radius: 50%;
}

@media (max-width: 1800px) and (min-width: 1201px) {
  #crypto-div .row {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 1200px) {
  #crypto-div .row {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
  }

  #crypto-div img {
    max-width: 15%;
    top: 30%;
    transform: translate(0, -20%);
  }

  #crypto-div hr {
    width: 30%;
    margin: 3% auto 0px;
    height: 2px;
    border-radius: 50%;
  }
}
